.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameText{
    font-family: 'Open Sans', sans-serif;
    color: #9e1b32;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 0%;
    margin: 0% 0% 0%;
    line-height: 100%;
}

.roleText{
    font-family: 'Open Sans', sans-serif;
    color: #9e1b32;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0%;
    margin: 0%;
}